swagger: '2.0'
info:
  description: Lycet API REST - Facturación Electrónica.
  version: '1.0'
  title: Lycet
  contact:
    email: giansalex@gmail.com
host: lycet.api
basePath: /api/v1
tags:
  - name: invoice
    description: Facturas y Boletas
  - name: note
    description: Notas de Credito y Debito
  - name: summary
    description: Resumen Diario de Boletas
  - name: voided
    description: Comunicacion de Bajas
  - name: despatch
    description: Guía de Remisión
  - name: retention
    description: Comprobante de Retenciones
  - name: perception
    description: Comprobante de Percepciones
  - name: reversion
    description: Comunicacion de Reversiones
schemes:
  - http
  - https
paths:
  /invoice/send:
    post:
      tags:
        - invoice
      summary: Enviar una Factura o Boleta
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendInvoice
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Invoice'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/DocumentResponse'
  /invoice/xml:
    post:
      tags:
        - invoice
      summary: Generar el XML de una factura o boleta
      description: Retorna el XML
      operationId: getInvoiceXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Invoice'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /note/send:
    post:
      tags:
        - note
      summary: Envia nota de credito o debito
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendNote
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Note'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/DocumentResponse'
  /note/xml:
    post:
      tags:
        - note
      summary: Generar el XML de una nota de crédito o débito
      description: Retorna el XML
      operationId: getNoteXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Note'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /summary/send:
    post:
      tags:
        - summary
      summary: Enviar una Resumen diario de Boletas
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendSummary
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Summary'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/SummaryResponse'
  /summary/xml:
    post:
      tags:
        - summary
      summary: Generar el XML de un resumen diario
      description: Retorna el XML
      operationId: getSummaryXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Summary'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /summary/status:
    get:
      tags:
        - summary
      summary: Obtiene el estado del ticket
      description: Retorna el XML
      operationId: getSummaryStatus
      parameters:
        - name: ticket
          in: query
          description: Ticket de Resumen diario
          type: boolean
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/StatusResult'
  /voided/send:
    post:
      tags:
        - voided
      summary: Enviar una Comunicación de Bajas
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendVoided
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Voided'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/SummaryResponse'
  /voided/xml:
    post:
      tags:
        - voided
      summary: Generar el XML de una Comunicación de Bajas
      description: Retorna el XML
      operationId: getVoidedXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Voided'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /voided/status:
    get:
      tags:
        - voided
      summary: Obtiene el estado del ticket
      description: Retorna el XML
      operationId: getVoidedStatus
      parameters:
        - name: ticket
          in: query
          description: Ticket de Comunicación de baja
          type: boolean
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/StatusResult'
  /despatch/send:
    post:
      tags:
        - despatch
      summary: Enviar una Guía de Remisión
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendDespatch
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Despatch'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/DocumentResponse'
  /despatch/xml:
    post:
      tags:
        - despatch
      summary: Generar el XML de una Guía de Remisión
      description: Retorna el XML
      operationId: getDespatchXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Despatch'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /retention/send:
    post:
      tags:
        - retention
      summary: Enviar un Comprobante de Retencion
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendRetention
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Retention'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/DocumentResponse'
  /retention/xml:
    post:
      tags:
        - retention
      summary: Generar el XML de un Comprobante de Retencion
      description: Retorna el XML
      operationId: getRetentionXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Retention'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /peception/send:
    post:
      tags:
        - peception
      summary: Enviar un Comprobante de Percepcion
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendPerception
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Perception'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/DocumentResponse'
  /peception/xml:
    post:
      tags:
        - peception
      summary: Generar el XML de un Comprobante de Percepcion
      description: Retorna el XML
      operationId: getPerceptionXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Perception'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /reversion/send:
    post:
      tags:
        - reversion
      summary: Enviar un Resumen de Reversiones
      description: Retorna la respuesta de SUNAT, el XML y opcionalmente el PDF
      operationId: sendReversion
      parameters:
        - name: pdf
          in: query
          description: Generar PDF
          type: boolean
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Reversion'
      consumes: 
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/SummaryResponse'
  /reversion/xml:
    post:
      tags:
        - voided
      summary: Generar el XML de un Resumen de Reversiones
      description: Retorna el XML
      operationId: getReversionXml
      parameters:
        - name: body
          in: body
          description: Comprobante
          required: true
          schema:
            $ref: '#/definitions/Reversion'
      produces:
        - text/xml
      responses:
        '200':
          description: Operacion exitosa
  /reversion/status:
    get:
      tags:
        - voided
      summary: Obtiene el estado del ticket
      description: Retorna el XML
      operationId: getReversionStatus
      parameters:
        - name: ticket
          in: query
          description: Ticket de Resumen de Reversiones
          type: boolean
      produces:
        - application/json
      responses:
        '200':
          description: Operacion exitosa
          schema:
            $ref: '#/definitions/StatusResult'
definitions:
  Address:
    type: object
    properties:
      ubigueo:
        type: string
      codigoPais:
        type: string
      departamento:
        type: string
      provincia:
        type: string
      distrito:
        type: string
      urbanizacion:
        type: string
      direccion:
        type: string
  Client:
    type: object
    properties:
      tipoDoc:
        type: string
      numDoc:
        type: string
      rznSocial:
        type: string
      address:
        $ref: '#/definitions/Address'
  Company:
    type: object
    properties:
      ruc:
        type: string
      razonSocial:
        type: string
      nombreComercial:
        type: string
      address:
        $ref: '#/definitions/Address'
  SaleDetail:
    type: object
    properties:
      unidad:
        type: string
      cantidad:
        type: number
        format: float
      codProducto:
        type: string
      codProdSunat:
        type: string
      descripcion:
        type: string
      mtoValorUnitario:
        type: number
        format: float
      descuento:
        type: number
        format: float
      igv:
        type: number
        format: float
      tipAfeIgv:
        type: string
      isc:
        type: number
        format: float
      tipSisIsc:
        type: string
      mtoPrecioUnitario:
        type: number
        format: float
      mtoValorVenta:
        type: number
        format: float
      mtoValorGratuito:
        type: number
        format: float
  Legend:
    type: object
    properties:
      code:
        type: string
      value:
        type: string
  Document:
    type: object
    properties:
      tipoDoc:
        type: string
      nroDoc:
        type: string
  SalePerception:
    type: object
    properties:
      codReg:
        type: string
      mtoBase:
        type: number
        format: float
      mto:
        type: number
        format: float
      mtoTotal:
        type: number
        format: float
  Prepayment:
    type: object
    properties:
      tipoDocRel:
        type: string
      nroDocRel:
        type: string
      total:
        type: number
        format: float
  Detraction:
    type: object
    properties:
      percent:
        type: number
        format: float
      mount:
        type: number
        format: float
      valueRef:
        type: number
        format: float
  Direction:
    type: object
    properties:
      ubigueo:
        type: string
      direccion:
        type: string
  EmbededDespatch:
    type: object
    properties:
      llegada:
        $ref: '#/definitions/Direction'
      partida:
        $ref: '#/definitions/Direction'
      transportista:
        $ref: '#/definitions/Client'
      nroLicencia:
        type: string
      transpPlaca:
        type: string
      transpCodeAuth:
        type: string
      transpMarca:
        type: string
      modTraslado:
        type: string
      pesoBruto:
        type: number
        format: float
      undPesoBruto:
        type: string
  Invoice:
    type: object
    properties:
      tipoDoc:
        type: string
      serie:
        type: string
      correlativo:
        type: string
      fechaEmision:
        type: string
        format: date-time
      client:
        $ref: '#/definitions/Client'
      company:
        $ref: '#/definitions/Company'
      tipoMoneda:
        type: string
      sumOtrosCargos:
        type: number
        format: float
      mtoOperGravadas:
        type: number
        format: float
      mtoOperInafectas:
        type: number
        format: float
      mtoOperExoneradas:
        type: number
        format: float
      mtoIGV:
        type: number
        format: float
      mtoISC:
        type: number
        format: float
      mtoOtrosTributos:
        type: number
        format: float
      mtoImpVenta:
        type: number
        format: float
      details:
        type: array
        items:
          $ref: '#/definitions/SaleDetail'
      legends:
        type: array
        items:
          $ref: '#/definitions/Legend'
      guias:
        type: array
        items:
          $ref: '#/definitions/Document'
      relDocs:
        type: array
        items:
          $ref: '#/definitions/Document'
      name:
        type: string
      tipoOperacion:
        type: string
      fecVencimiento:
        type: string
        format: date-time
      sumDsctoGlobal:
        type: number
        format: float
      mtoDescuentos:
        type: number
        format: float
      mtoOperGratuitas:
        type: number
        format: float
      totalAnticipos:
        type: number
        format: float
      perception:
        $ref: '#/definitions/SalePerception'
      compra:
        type: string
      anticipos:
        type: array
        items:
          $ref: '#/definitions/Prepayment'
      detraccion:
        $ref: '#/definitions/Detraction'
      guiaEmbebida:
        $ref: '#/definitions/EmbededDespatch'
  Note:
    type: object
    properties:
      tipoDoc:
        type: string
      serie:
        type: string
      correlativo:
        type: string
      fechaEmision:
        type: string
        format: date-time
      client:
        $ref: '#/definitions/Client'
      company:
        $ref: '#/definitions/Company'
      tipoMoneda:
        type: string
      sumOtrosCargos:
        type: number
        format: float
      mtoOperGravadas:
        type: number
        format: float
      mtoOperInafectas:
        type: number
        format: float
      mtoOperExoneradas:
        type: number
        format: float
      mtoIGV:
        type: number
        format: float
      mtoISC:
        type: number
        format: float
      mtoOtrosTributos:
        type: number
        format: float
      mtoImpVenta:
        type: number
        format: float
      details:
        type: array
        items:
          $ref: '#/definitions/SaleDetail'
      legends:
        type: array
        items:
          $ref: '#/definitions/Legend'
      guias:
        type: array
        items:
          $ref: '#/definitions/Document'
      relDocs:
        type: array
        items:
          $ref: '#/definitions/Document'
      name:
        type: string
      codMotivo:
        type: string
      desMotivo:
        type: string
      tipDocAfectado:
        type: string
      numDocfectado:
        type: string
      mtoOperGratuitas:
        type: number
        format: float
      perception:
        $ref: '#/definitions/SalePerception'
  SummaryPerception:
    type: object
    properties:
      codReg:
        type: string
      tasa:
        type: number
        format: float
      mtoBase:
        type: number
        format: float
      mto:
        type: number
        format: float
      mtoTotal:
        type: number
        format: float
  SummaryDetail:
    type: object
    properties:
      tipoDoc:
        type: string
      serieNro:
        type: string
      clienteTipo:
        type: string
      clienteNro:
        type: string
      docReferencia:
        $ref: '#/definitions/Document'
      percepcion:
        $ref: '#/definitions/SummaryPerception'
      estado:
        type: string
      total:
        type: number
        format: float
      mtoOperGravadas:
        type: number
        format: float
      mtoOperInafectas:
        type: number
        format: float
      mtoOperExoneradas:
        type: number
        format: float
      mtoOperGratuitas:
        type: number
        format: float
      mtoOtrosCargos:
        type: number
        format: float
      mtoIGV:
        type: number
        format: float
      mtoISC:
        type: number
        format: float
      mtoOtrosTributos:
        type: number
        format: float
  Summary:
    type: object
    properties:
      correlativo:
        type: string
      fecGeneracion:
        type: string
        format: date-time
      fecResumen:
        type: string
        format: date-time
      company:
        $ref: '#/definitions/Company'
      details:
        type: array
        items:
          $ref: '#/definitions/SummaryDetail'
      name:
        type: string
  VoidedDetail:
    type: object
    properties:
      tipoDoc:
        type: string
      serie:
        type: string
      correlativo:
        type: string
      desMotivoBaja:
        type: string
  Voided:
    type: object
    properties:
      correlativo:
        type: string
      fecGeneracion:
        type: string
        format: date-time
      fecComunicacion:
        type: string
        format: date-time
      company:
        $ref: '#/definitions/Company'
      details:
        type: array
        items:
          $ref: '#/definitions/VoidedDetail'
      name:
        type: string
      xmlId:
        type: string
  Transportist:
    type: object
    properties:
      tipoDoc:
        type: string
      numDoc:
        type: string
      rznSocial:
        type: string
      placa:
        type: string
      choferTipoDoc:
        type: string
      choferDoc:
        type: string
  Shipment:
    type: object
    properties:
      codTraslado:
        type: string
      desTraslado:
        type: string
      indTransbordo:
        type: boolean
      pesoTotal:
        type: number
        format: float
      undPesoTotal:
        type: string
      numBultos:
        type: integer
      modTraslado:
        type: string
      fecTraslado:
        type: string
        format: date-time
      numContenedor:
        type: string
      codPuerto:
        type: string
      transportista:
        $ref: '#/definitions/Transportist'
      llegada:
        $ref: '#/definitions/Direction'
      partida:
        $ref: '#/definitions/Direction'
  DespatchDetail:
    type: object
    properties:
      codigo:
        type: string
      descripcion:
        type: string
      unidad:
        type: string
      cantidad:
        type: number
        format: float
      codProdSunat:
        type: string
  Despatch:
    type: object
    properties:
      tipoDoc:
        type: string
      serie:
        type: string
      correlativo:
        type: string
      observacion:
        type: string
      fechaEmision:
        type: string
        format: date-time
      company:
        $ref: '#/definitions/Company'
      destinatario:
        $ref: '#/definitions/Client'
      tercero:
        $ref: '#/definitions/Client'
      envio:
        $ref: '#/definitions/Shipment'
      docBaja:
        $ref: '#/definitions/Document'
      relDoc:
        $ref: '#/definitions/Document'
      details:
        type: array
        items:
          $ref: '#/definitions/DespatchDetail'
      name:
        type: string
  Payment:
    type: object
    properties:
      moneda:
        type: string
      importe:
        type: number
        format: float
      fecha:
        type: string
        format: date-time
  Exchange:
    type: object
    properties:
      monedaRef:
        type: string
      monedaObj:
        type: string
      factor:
        type: number
        format: float
      fecha:
        type: string
        format: date-time
  RetentionDetail:
    type: object
    properties:
      tipoDoc:
        type: string
      numDoc:
        type: string
      fechaEmision:
        type: string
        format: date-time
      impTotal:
        type: number
        format: float
      moneda:
        type: string
      pagos:
        type: array
        items:
          $ref: '#/definitions/Payment'
      fechaRetencion:
        type: string
        format: date-time
      impRetenido:
        type: number
        format: float
      impPagar:
        type: number
        format: float
      tipoCambio:
        $ref: '#/definitions/Exchange'
  Retention:
    type: object
    properties:
      serie:
        type: string
      correlativo:
        type: string
      fechaEmision:
        type: string
        format: date-time
      proveedor:
        $ref: '#/definitions/Client'
      company:
        $ref: '#/definitions/Company'
      regimen:
        type: string
      tasa:
        type: number
        format: float
      impRetenido:
        type: number
        format: float
      impPagado:
        type: number
        format: float
      observacion:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/RetentionDetail'
      name:
        type: string
  PerceptionDetail:
    type: object
    properties:
      tipoDoc:
        type: string
      numDoc:
        type: string
      fechaEmision:
        type: string
        format: date-time
      impTotal:
        type: number
        format: float
      moneda:
        type: string
      cobros:
        type: array
        items:
          $ref: '#/definitions/Payment'
      fechaPercepcion:
        type: string
        format: date-time
      impPercibido:
        type: number
        format: float
      impCobrar:
        type: number
        format: float
      tipoCambio:
        $ref: '#/definitions/Exchange'
  Perception:
    type: object
    properties:
      serie:
        type: string
      correlativo:
        type: string
      fechaEmision:
        type: string
        format: date-time
      company:
        $ref: '#/definitions/Company'
      proveedor:
        $ref: '#/definitions/Client'
      regimen:
        type: string
      tasa:
        type: number
        format: float
      impPercibido:
        type: number
        format: float
      impCobrado:
        type: number
        format: float
      observacion:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/PerceptionDetail'
      name:
        type: string
  Reversion:
    type: object
    properties:
      correlativo:
        type: string
      fecGeneracion:
        type: string
        format: date-time
      fecComunicacion:
        type: string
        format: date-time
      company:
        $ref: '#/definitions/Company'
      details:
        type: array
        items:
          $ref: '#/definitions/VoidedDetail'
      name:
        type: string
      xmlId:
        type: string
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
  CdrResponse:
    type: object
    properties:
      id:
        type: string
      code:
        type: string
      description:
        type: string
      notes:
        type: array
        items:
          type: string
  BillResult:
    type: object
    properties:
      success:
        type: boolean
      error:
        $ref: '#/definitions/Error'
      cdrZip:
        type: string
      cdrResponse:
        $ref: '#/definitions/CdrResponse'
  SummaryResult:
    type: object
    properties:
      success:
        type: boolean
      error:
        $ref: '#/definitions/Error'
      ticket:
        type: string
  StatusResult:
    type: object
    properties:
      success:
        type: boolean
      error:
        $ref: '#/definitions/Error'
      code:
        type: string
      cdrZip:
        type: string
      cdrResponse:
        $ref: '#/definitions/CdrResponse'
  
  DocumentResponse:
    type: object
    properties:
      xml:
        type: string
      pdf:
        type: string
      sunatResponse:
        $ref: '#/definitions/BillResult'
  SummaryResponse:
    type: object
    properties:
      xml:
        type: string
      pdf:
        type: string
      sunatResponse:
        $ref: '#/definitions/SummaryResult'
